{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Create a Task</h4></header>
            <form action="{% url 'create_task' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Order</label>
                    {{ form.order }}
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label>Name</label>
                    {{ form.name }}
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Task </button>
                </div> <!-- form-group// -->           
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
</body>
</html>
{% endblock %}